sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
cache:
  directories:
    - node_modules
branches:
   only:
      - master
node_js:
  - "8"
before_install:
  - npm i npm@^5 -g
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
install:
  - npm install
  - npm install -g firebase-tools
before_script:
  - npm prune
script:
  - npm run test
  - npm run build-prod-aot
after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && firebase deploy --token $FIREBASE_TOKEN
  - npm run report-coverage

